
.social-link {
  position: relative;
  z-index: 100;
  outline: none;
  font: var(--font-text);
  text-decoration: none;
  color: inherit;

  & span:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: .5;
  }
}

.social-link svg {
  vertical-align: top;
}

.social-icon {
  fill: #ffffff;
  fill-rule: evenodd;

  .footer-line  & {
    fill: $color-footer;
  }
}