
  .social-link svg {
    vertical-align: top;
  }


.social-icon {
  fill: #ffffff;
  fill-rule: evenodd;

  .footer-line {
    fill: $color-footer;
  }

  .footer-line:hover & {
    fill: $color-accent;
  }
}